<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <style>
  table {
    border: none;
    border-spacing: 0px;
  }
  tr, td {
    border: none;
    padding: 0;
    position: relative;
  }
  img {
    position: absolute;
    display: block;
  }
</style>
</head>
<body>
  {{{body}}}
</body>
</html>